/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Raleway', sans-serif;
$font-secondary: 'Dancing Script', cursive;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$grey-dark: #4a4a4a;
$grey: #666;
$grey-light: #9b9b9b;
$light: #f6f5f5;
$blue: #09e4f7;
$grey71: #b5b5b5;
$green: #20c997;
$green-dark: #1ba87e;
$spring-wood: #dee2e6;
$grey30: #4d4d4d;
$link-water: #ced4da;


// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 768;
$tablet: 991;
$tablet-l: 1024;
$lap-small: 1250;
$lap-large: 1400;

