.main-footer {
    padding: 30px 0;
}

.main-footer__center {
    text-align: center;
}

.main-footer__text {
    font-size: 14px;
    line-height: 27px;
    font-family: $font-main;
    color: $grey30;
    font-weight: 500;

    @include mq($tablet-l) {
        font-size: 12px;
    }
}

.main-footer__text-nm {
    color: $green;
    transition: $dur $ease;

    @include hover {
        &:hover {
            text-decoration: underline;
        }
    }
}