/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/

.wrapper {
    width: 100%;
    max-width: 1872px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-sm {
    max-width: 1170px;
}